.explore {
  text-align: center;
  background-color: #fafafa;
  padding: 16px 16px 75px 16px;
  .exploreTitle {
    font-weight: 500;
    font-size: 1.7rem;
  }
  .exploreSubtitle {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 45px;
  }
  .exploreBtn {
    padding: 17px 23px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    background-image: linear-gradient(0, $primary-color, $secondary-color);
    @include base-shadow;
    transition-duration: 0.75s;
    &:hover {
      opacity: 0.85;
      @include base-shadow2;
    }
  }
}
