.bgDarkGrey {
  background-color: $footer-grey-color;
}

footer {
  & .footerLogo {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-bottom: 0;
  }
  .sizeFooter {
    height: 175px;
    display: flex;
    flex-direction: column;
  }
  .footerList {
    margin: 0;

    & ul {
      list-style-type: none;
      padding: 0;
      & li {
        margin: 4px 0;

        .firstFooterIcon {
          margin-right: 12px;
        }
        .secondFooterIcon {
          margin-right: 6px;
        }
      }
      & .footerLink {
        color: white;
      }
    }
  }
}
