.bgDarkGrey {
  background-color: rgb(53, 53, 53);
}

footer {
  font-family: "Roboto", sans-serif;

  & .footerLogo {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-bottom: 0;
  }
  .sizeFooter {
    height: 200px;
    display: flex;
    flex-direction: column;
  }
  .footerList {
    margin: 0;

    & ul {
      list-style-type: none;
      padding: 0;
      & li {
        margin: 4px 0;
      }
      & .footerLink {
        color: white;
      }
    }
  }
}
