header {
  h1 {
    font-family: "Shrikhand", sans-serif;
  }
  .headerLogo {
    text-align: center;
    padding: 25px 0;
  }
  img {
    width: 200px;
  }
  @include base-shadow;
  position: relative;
  z-index: 10;

  .returnIcon {
    position: absolute;
    margin-top: -50px;
    margin-left: 15px;
    font-size: 18px;
  }
  .headerMenuLogo {
    @include flexCenter;
    padding: 20px 0;
  }
}
