.restaurant {
  background-color: $bg-light-grey-color;
  padding: 45px 0 55px 0;

  .restaurantTitle {
    font-weight: 500;
    margin-bottom: 25px;
  }
  .cardTemplate {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;

    .card {
      width: 43%;
      border-radius: 20px;
      box-shadow: 0 0 10px rgb(115 115 115 / 50%);
      background-color: white;
    }
    .cardImage {
      height: 250px;
      width: 100%;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
      margin: 0;
      padding: 0;
    }
    .cardBadgeNew {
      background-color: rgb(153, 226, 208);
      color: rgb(11, 141, 109);
      font-weight: 500;
      position: absolute;
      padding: 6px 12px;
      margin-left: -105px;
      margin-top: 12px;
      border-radius: 2px;
    }
    .cardDetails {
      padding: 15px;
      @include flexBetweenCenter;
      .cardTitle {
        font-weight: 500;
        margin: 0 0 5px 0;
      }
      .cardSubtitle {
        margin: 0;
      }
      .cardHeart {
        transition-duration: 1000ms;
        & i {
          font-size: 25px;
        }
        & .heartR {
          position: absolute;
          margin-left: -25px;
        }
        & .heartS {
          color: transparent;
        }
        &:hover > .heartS {
          @include heartAnimation;
        }
        &:hover > .heartR {
          opacity: 0;
          transition-duration: 200ms;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .cardTemplate {
      flex-direction: column;
      & .card {
        width: 90%;
        margin: auto;
      }
      & .cardImage {
        height: 200px;
      }
    }
  }
}
