.restaurant {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  padding: 30px 0 55px 0;

  .restaurantTitle {
    font-weight: 500;
    margin-bottom: 25px;
  }
  .cardTemplate {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;

    .card {
      width: 43%;
      border-radius: 20px;
      box-shadow: 0 0 10px rgb(115 115 115 / 50%);
      background-color: white;
    }
    .cardImage {
      height: 120px;
      width: 100%;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
      margin: 0;
      padding: 0;
    }
    .cardBadgeNew {
      background-color: rgb(153, 226, 208);
      color: rgb(11, 141, 109);
      font-weight: 500;
      position: absolute;
      padding: 6px 12px;
      margin-left: -105px;
      margin-top: 12px;
      border-radius: 2px;
    }
    .cardDetails {
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cardTitle {
        font-weight: 500;
        margin: 0 0 5px 0;
      }
      .cardSubtitle {
        margin: 0;
      }
      .cardHeart {
        & i {
          font-size: 25px;
        }
        & .heartR {
          position: absolute;
          margin-left: -25px;
        }
        & .heartS {
          color: transparent;
        }
        &:hover > .heartS {
          //opacity: 1;
          //@include scale_115;

          animation: slide-in-fwd-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;

          transition: 2s;
          background-image: linear-gradient(
            rgb(186, 102, 255),
            rgb(231, 136, 225)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-background-clip: text;
          -moz-text-fill-color: transparent;
        }
        &:hover > .heartR {
          opacity: 0;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .cardTemplate {
      flex-direction: column;
      & .card {
        width: 85%;
        margin: auto;
      }
      & .cardImage {
        height: 225px;
      }
    }
  }
}
