.step {
  margin-bottom: 40px;
  margin-top: 40px;

  .stepTitle {
    font-weight: 500;
  }
  ol {
    list-style-type: none;
    padding: 0;
    @include flexBetween;
    @media only screen and (max-width: 1092px) {
      flex-direction: column;
    }
  }
  li {
    background-color: $bg-light-grey-color;
    font-weight: 500;
    padding: 20px 0 20px 15px;
    width: 30%;
    border-radius: 16px;
    white-space: nowrap;
    @include shadowLow;

    &:hover {
      background-color: #faecff;
    }
    &:hover > .stepNumber {
      @include scale_13;
      transition: 0.5s;
    }
    &:hover > .stepIcon {
      color: $primary-color;
    }
    @media only screen and (max-width: 1092px) {
      width: 75%;
      margin: auto;
      margin-bottom: 22px;
    }
    @media only screen and (max-width: 768px) {
      width: 92%;
    }
  }
  .stepIcon {
    color: #777777;
    margin-right: 16px;
    margin-left: 10px;
  }

  /*Cercle avec le chiffre en position absolute*/
  .stepNumber {
    @include flexCenter;
    position: absolute;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: $primary-color;
    position: absolute;
    margin-left: -38px;
    margin-top: -5px;
  }
}
