$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$bg-grey-color: #f1f1f1;
$bg-light-grey-color: #f3f3f3;
$text-grey-color: #636363;

$footer-grey-color: rgb(53, 53, 53);
