$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$bg-grey-color: #f2f2f2;
$bg-light-grey-color: #fafafa;
$text-grey-color: #636363;

$footer-grey-color: rgb(53, 53, 53);
