@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexBetween {
  display: flex;
  justify-content: space-between;
}
@mixin flexRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
